body {
    text-align: center;
}
form {
    display: inline-block;
}

h3 {
    font-family: 'Fredoka One', cursive;
    color: #eb6f92;
    font-size: 30px;
}

label{
    color: #faf4ed;
    font-family: 'Lexend', sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #faf4ed;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #faf4ed;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #faf4ed;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 100%;
    background-color: #eb6f92;
    color: #faf4ed;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #ea9a97;
  }
  
  div {
    border-radius: 5px;
    background-color: #ebbcba;
    padding: 20px;
  }

  img{
      padding-top: 20px;
  }